# Ignore Python-related files
__pycache__/
*.pyc
.venv/

# Ignore Pycharm-related files
.idea/

# Ignore system files
.DS_Store

Project_File/data/augmented_data
Project_File/data/HAM10000_images_part_1
Project_File/data/HAM10000_images_part_2
Project_File/data/HAM10000_metadata.csv
Project_File/data/Xtest_Image.npy
Project_File/data/ytest.npy


*.egg-info/